div.pagination-links ul.pagination {
  display: flex;
}

div.pagination-links ul.pagination li {
  font-size: $pagination-font-size;
  list-style: none;
  margin: 0;
  padding: 0;
  .body-text & {
    font-size: #{$pagination-font-size/$body-text-font-size}em;
  }
}

div.pagination-links ul.pagination li > span {
  color: $pagination-text-color;
  font-size: 1em;
}

div.pagination-links ul.pagination li a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: $pagination-link-color;
}

div.pagination-links ul.pagination li a:hover {
  text-decoration: none;
  color: $pagination-link-hover-color;

}