<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{ partial "pandago/head-element-markup.html" . }}
    {{ partial "stylesheets.html" . }}
    {{ partial "head-append.html" . }}
  </head>
  <body class="{{ .Site.Params.body_classes }} {{ .Params.pageclass }} ">
    {{ partial "body-prepend.html" . }}
    <div id="wrapper">
      <div class='panels'>
        {{ partial "pandago/header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "panels-append.html" . }}
      </div>
      {{ partial "pre-footer.html" . }}
      {{ partial "pandago/footer.html" . }}
    </div>
    {{ partial "body-append.html" . }}
  </body>
</html>
