{{ define "main" }}
{{ partial "pandago/content-item/page-banner.html" . }}
<section id="main-content" class="panel {{ if isset .Params "main_content_strip_classes" }}{{ .Params.main_content_strip_classes }}{{end}}">
  <div class="content-max-width page-gutters d-flex direction-column align-center">
    {{if .Title}}<h1 class="main-header">{{ .Title }}</h1>{{end}}
    <div class="d-flex justify-center margin-bottom-lg">
      <div class="main-block">
        {{ partial "pandago/content-item/cover-image.html" (dict "context" . "sizes" "900px") }}
        {{ partial "pandago/content-item/publish-date.html" . }}
        {{ partial "pandago/content-item/categories.html" . }}
        {{ partial "pandago/content-item/tags.html" . }}
        <div class="body-text">
          {{ partial "pandago/content-item/summary.html" . }}
          {{ .Content }}
          <div class="clear"></div>

          {{ partial "pandago/next-previous-in-section-links.html" . }}
        </div>
      </div>
      {{ if or $.Page.Parent.Params.sidebar_partials .Params.sidebar_partials }}
        <div class=" sidebar-outer hide-below-979px">
          <div class="sidebar body-text">
            {{ $page_context := . }}
            {{ range $.Page.Parent.Params.sidebar_partials }}
              {{ partial . $page_context}}
            {{ end }}
            {{ range .Params.sidebar_partials }}
              {{ partial . $page_context}}
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
</div>
</section>
{{ end }}