$next-prev-links-align: left !default;
$next-prev-links-margin-top: 10px !default;
$next-prev-links-margin-bottom: 10px !default;
$next-prev-links-padding-top: 10px !default;
$next-prev-links-padding-bottom: 10px !default;
$next-prev-links-font-size: 1.5em !default;
$next-prev-links-text-align: center !default;
$next-prev-links-text-color: #000 !default;
$next-prev-links-text-font-style: normal !default;
$next-prev-links-text-font-family: $body-text-header-font-family !default;
$next-prev-links-text-text-transform: none !default;