$figcaption-color: #666 !default;
$figcaption-font-size: 0.9*$body-text-font-size !default;
$figcaption-font-family: $main-font-family !default;
$figcaption-background: transparent !default;
$figcaption-line-height: 110% !default;