$pagination-font-size: 1.5em !default;
$pagination-text-color: #000 !default;
$pagination-text-font-family: $main-font-family !default;
$pagination-link-color: $link-color !default;
$pagination-link-hover-color: $link-hover-color !default;