$table-border-color: #888 !default;
$table-header-cell-color: #fff !default;
$table-header-cell-background-color: #bbb !default;
$table-header-cell-border-color: #666 !default;
$table-header-cell-text-transform: uppercase !default;
$table-header-cell-font-family: $main-font-family !default;
$table-header-cell-font-weight: 700 !default;
$table-header-cell-font-size: 1.4em !default;

$table-cell-padding-top: 5px !default;
$table-cell-padding-bottom: 5px !default;
$table-cell-padding-left-right: 8px !default;
$table-cell-text-line-height: 120% !default;
$table-cell-background-color: #fff !default;
$table-cell-color: $body-text-color !default;
$table-cell-font-family: $main-font-family !default;