$dynamic-header-transition: all 0.3s ease-in-out !default;
$dynamic-header-light-text-color: #fff !default;
$dynamic-header-dark-text-color: #222 !default;
$dynamic-header-height: 50px !default;
$dynamic-header-taller-height: 70px !default;